@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --input-background: #f3f4f5;
  --input-foreground: #0a0b0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232428;
    --foreground: #ededed;
    --input-background: #151515;
    --input-foreground: #f5f2fa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
